figure {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;

}
figure:nth-child(1) img {
	transform: scale(0.6) rotate(-12.5deg);
}
figure:nth-child(2) img {
	transform: scale(0.6) rotate(-9.72222deg);
}
figure:nth-child(3) img {
	transform: scale(0.6) rotate(-6.94deg);
}
figure:nth-child(4) img {
	transform: scale(0.6) rotate(-4.16deg);
}
figure:nth-child(5) img {
	transform: scale(0.6) rotate(-1.38deg);
}
figure:nth-child(6) img {
	transform: scale(0.6) rotate(1.38deg);
}
figure:nth-child(7) img {
	transform: scale(0.6) rotate(4.16deg);
}
figure:nth-child(8) img {
	transform: scale(0.6) rotate(6.94deg);
}
figure:nth-child(9) img {
	transform: scale(0.6) rotate(9.72deg);
}
figure:nth-child(10) img {
	transform: scale(0.6) rotate(12.5deg);
}
figure:nth-child(11) img {
	transform: scale(0.6) rotate(9.72deg);
}
figure:nth-child(12) img {
	transform: scale(0.6) rotate(6.94deg);
}
figure:nth-child(13) img {
	transform: scale(0.6) rotate(4.16deg);
}
figure:nth-child(14) img {
	transform: scale(0.6) rotate(1.38deg);
}
figure:nth-child(15) img {
	transform: scale(0.6) rotate(-1.38deg);
}
figure:nth-child(16) img {
	transform: scale(0.6) rotate(-4.16deg);
}
figure:nth-child(17) img {
	transform: scale(0.6) rotate(-6.94deg);
}
figure:nth-child(18) img {
	transform: scale(0.6) rotate(-9.72222deg);
}
figure:nth-child(19) img {
	transform: scale(0.6) rotate(-12.5deg);
}
figure:nth-child(20) img {
	transform: scale(0.6) rotate(-9.72222deg);
}
figure:nth-child(21) img {
	transform: scale(0.6) rotate(-6.94deg);
}
figure:nth-child(22) img {
	transform: scale(0.6) rotate(-4.16deg);
}
figure:nth-child(23) img {
	transform: scale(0.6) rotate(-1.38deg);
}
figure:nth-child(24) img {
	transform: scale(0.6) rotate(1.38deg);
}
figure:nth-child(25) img {
	transform: scale(0.6) rotate(4.16deg);
}
figure:nth-child(26) img {
	transform: scale(0.6) rotate(6.94deg);
}
figure:nth-child(27) img {
	transform: scale(0.6) rotate(9.72deg);
}
figure:nth-child(28) img {
	transform: scale(0.6) rotate(12.5deg);
}
figure:nth-child(29) img {
	transform: scale(0.6) rotate(9.72deg);
}
figure:nth-child(30) img {
	transform: scale(0.6) rotate(6.94deg);
}
figure:nth-child(31) img {
	transform: scale(0.6) rotate(4.16deg);
}
figure:nth-child(32) img {
	transform: scale(0.6) rotate(1.38deg);
}
figure:nth-child(33) img {
	transform: scale(0.6) rotate(-1.38deg);
}
figure:nth-child(34) img {
	transform: scale(0.6) rotate(-4.16deg);
}
figure:nth-child(35) img {
	transform: scale(0.6) rotate(-6.94deg);
}
figure:nth-child(36) img {
	transform: scale(0.6) rotate(-9.72222deg);
}
figure:nth-child(37) img {
	transform: scale(0.6) rotate(-12.5deg);
}
figure:nth-child(38) img {
	transform: scale(0.6) rotate(-9.72222deg);
}
figure:nth-child(39) img {
	transform: scale(0.6) rotate(-6.94deg);
}
figure:nth-child(40) img {
	transform: scale(0.6) rotate(-4.16deg);
}
figure:nth-child(41) img {
	transform: scale(0.6) rotate(-1.38deg);
}
figure:nth-child(42) img {
	transform: scale(0.6) rotate(1.38deg);
}
figure:nth-child(43) img {
	transform: scale(0.6) rotate(4.16deg);
}
figure:nth-child(44) img {
	transform: scale(0.6) rotate(6.94deg);
}
figure:nth-child(45) img {
	transform: scale(0.6) rotate(9.72deg);
}






figure img {
	vertical-align: baseline;
	border-radius: 3px;
}
